* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

:root {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;

    --bg-light: #41b883;
    --bg-dark: #34495e;
    --bg-light-alt: #eeeeee;
    --text-light: #ffffff;
    --text-link: #accbe8;
    --text-dark: #242424;

    color: var(--text-dark);
}

.font-mono {
    font-family: 'Roboto Mono', monospace;
}

a {
    color: var(--text-link);
}